* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 1px solid black;
}
body {
    min-height: 100vh;
    background-color: white;
}
.wrapper {
    display: flex;
    min-height: 95vh;
}
.left {
    border: 1px solid red;
}
/* .left {
    border: 1px solid red;
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.card-1 {
    position: relative;
    top: 25vh;
    left: 15vw;
}
.card-2 {
    position: relative;
    top: 28vh;
    left: 20vw;
} */
 
.right {
    border: 3px solid rgb(70, 10, 160);
    min-width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.fild label {
    font-size: 20px;
    padding: 5px;
}
.fild-1 label {
    font-size: 20px;
    padding: 5px;
}
.fild-2 label {
    font-size: 20px;
    padding: 5px;
}
.fild-3 label {
    font-size: 20px;
    padding: 5px;
}
.fild {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.fild-1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.fild-2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.fild-3 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.fild-4 {
    display: flex;
}
.pyment-wrapper {
    display: flex;
    flex-direction: row;
} 
.fild input {
    border: 1px solid green;
    border-radius: 10px;
    height: 4vh;
    width: 10vw;
    padding: 5px;
}
.fild-1 input {
    border: 1px solid red;
    border-radius: 10px;
    height: 4vh;
    width: 10vw;
    padding: 5px;
}
.fild-2 .in-1 {
    border: 1px solid green;
    border-radius: 10px;
    width: 4vw;
    height: 4vh;
    padding: 5px;
}
.fild-2 .in-2 {
    border: 1px solid red;
    border-radius: 10px;
    width: 4vw;
    height: 4vh;
    padding: 5px;
}
.fild-3 input {
    border: 1px solid red;
    border-radius: 10px;
    height: 4vh;
     width: 6vw;
    padding: 5px;
}
.bt {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: blue;
    color: white;
    width: 10vw;
    height: 4vh;
}
.inp {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
p {
    color: red;
    padding: 5px;
}